name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: "31 03 * * *"
  push:
    branches: ["main"]
    # Publish semver tags as releases.
    tags: ["v*.*.*"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.9.2
        if: github.event_name != 'pull_request'

      - name: Sign container image
        if: github.event_name != 'pull_request'
        run: |
          # Sign all tags that were pushed
          echo "${{ steps.meta.outputs.tags }}" | while read tag; do
            echo "Signing $tag"
            cosign sign --yes "$tag"
          done
        env:
          COSIGN_EXPERIMENTAL: 1

      - name: Build caddy collector
        id: build-and-push-collector
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.artifacts
          build-args: docker_image=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          push: false
          load: true
          tags: local-collector:latest

      - name: Create container
        run: docker create --entrypoint=/ local-collector:latest > /tmp/container-id

      - name: Copy from container to host
        run: docker cp $(cat /tmp/container-id):/ .

      - name: Caclulate sha256 of amd64
        run: echo "$(sha256sum caddy-amd64 | awk '{ print $1 }')" > caddy-amd64.sha256

      - name: Upload amd64 binary
        uses: svenstaro/upload-release-action@v2
        with:
          overwrite: true
          prerelease: true
          tag: nightly
          file: caddy-amd64

      - name: Upload amd64 sha256
        uses: svenstaro/upload-release-action@v2
        with:
          overwrite: true
          prerelease: true
          tag: nightly
          file: caddy-amd64.sha256
